* {
    margin: 0;
    padding: 0;
    font-family: 'Gruppo';
}
button {
    background-color: rgba(135, 206, 250, 0.25);
    padding: 10px;
}

.light {
    background-color: #ccc;
}

.dark {
    background-color: #333;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 2.75rem;
    margin-bottom: 14px;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 12px;
}
h3 {
    font-size: 2.25rem;
    margin-bottom: 10px;
}
h4 {
    font-size: 2rem;
    margin-bottom: 8px;
}
h5 {
    font-size: 1.75rem;
    margin-bottom: 6px;
}
h6 {
    font-size: 1.5rem;
    margin-bottom: 4px;
}
p {
    padding: 8px;
    font-size: 1.2rem;
}
.light p, .light li, .light td {
    color: #000;
}
.dark p, .dark li, .dark td {
    color: #fff;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light th {
    color: #000;
    text-shadow: 0 0 8px lightskyblue;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark th {
    color: lightskyblue;
    text-shadow: 0 0 2px #000;
}

i {
    color: lightskyblue;
    text-shadow: 0 0 3px #000;
}

input, textarea {
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 5px;
    background-color: transparent;
}
input, textarea, button {
    outline: none;
    border: none;
    border-radius: 4px;
    backdrop-filter: blur(5px);
}
.dark input, .dark textarea, .dark button {
    box-shadow: 0 0 3px #fff;
    color: #fff;
}
.light input, .light textarea, .light button {
    box-shadow: 0 0 3px #000;
    color: #000;
}
button {
    background-color: rgba(135, 206, 250, 0.5);
    margin-top: 20px;
    font-size: 1.5rem;
}
.dark input::placeholder, .dark textarea::placeholder {
    color: lightskyblue;
}
.light input::placeholder, .light textarea::placeholder {
    color: #000;
}
#leftSide {
    position: fixed;
    top: 0px;
    height: 100vh;
    left: -21px;
    width: 20px;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.6);
}
#rightSide {
    position: fixed;
    top: 0px;
    height: 100vh;
    right: -21px;
    width: 20px;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.6);
}
#bottom {
    position: fixed;
    left: 0px;
    height: 20px;
    bottom: -21px;
    width: 100vw;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.6);
}
#app {
    padding-top: 50px;
}

.hidden {
    display: none;
    opacity: 0;
}

.site-header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    height: 50px;
    width: 100vw;
    z-index: 99899;
}
.light #mainMenu {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.35));
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    position: relative;
    border-bottom: outset 2px rgba(255, 255, 255, 0.5);
}
.dark #mainMenu {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    position: relative;
    border-bottom: outset 2px rgba(255, 255, 255, 0.5);
}
#mainMenuTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    top: 5px;
}
.menu-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
}

.menu-button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    font-size: 2rem;
    
}
#colorSchemeBtn {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    font-size: 2rem;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}



.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-links-container {
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.menu-item {
    padding: 5px;
}

.light .menu-item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    text-shadow: 0 0 2px lightskyblue;
}
.dark .menu-item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: lightskyblue;
    text-shadow: 0 0 2px #000;
}
.spread-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* SPREAD FORM */

.spread-form {
    /* background-color: lime; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.spread-form-header {
    margin-bottom: 15px;
}
.spread-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.spread-card {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    width: 800px;
    max-width: 90vw;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
.spread-card-header {
    padding: 8px;
    padding-top: 12px;
}

.spread-card-body {
    padding: 8px;
    padding-bottom: 20px;
}
.spread-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spread-media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.spread-media-container > div {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    max-height: 95vh;
}

.spread-image {
    max-width: 95vw;
    max-height: 95vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spread-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.spread-video {
    max-width: 85vw;
    max-height: 95vh;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spread-video video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

#fullscreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99990;
    background-color: #000;
}
#fullscreenContainer img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exit-button {
    background: linear-gradient(to bottom right, rgba(255, 68, 0, 0.25), rgba(255, 255, 255, 0.35), rgba(255, 68, 0, 0.25));
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    color: rgba(255, 68, 0, 0.75);
    text-shadow: 0 0 5px #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75), 0 0 8px rgba(255, 68, 0, 0.75);
    outline: none;
    border: none;
    z-index: 99999;
}

/* LANDSCAPE */

@media only screen and (orientation: landscape) {
    .spread-image {
        max-width: 100%;
        max-height: 100%;
        height: 300px;
    }
    
    .spread-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 16px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }


}